Chapter 10/5 temperature logger Node-red.json
[{"id":"99a50371bc0fcec4","type":"tab","label":"5 Temperature Logger","disabled":false,"info":"","env":[]},{"id":"7eed0c639ac12376","type":"mqtt in","z":"99a50371bc0fcec4","name":"","topic":"tele/Garage_Temp_PIR/SENSOR","qos":"0","datatype":"auto","broker":"bb20db904fadb170","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":120,"wires":[["1cbebeee6c0cfeb0"]]},{"id":"1cbebeee6c0cfeb0","type":"json","z":"99a50371bc0fcec4","name":"","property":"payload","action":"","pretty":false,"x":430,"y":120,"wires":[["80bc03b7cd988d15"]]},{"id":"80bc03b7cd988d15","type":"function","z":"99a50371bc0fcec4","name":"Garage Temperature","func":"msg.payload = {\n    room_id: \"garage\",\n    temperature: msg.payload.BMP280.Temperature,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":120,"wires":[["0b27c7ec8959901b"]]},{"id":"9de13dac99e7b365","type":"debug","z":"99a50371bc0fcec4","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":220,"wires":[]},{"id":"4108eee8932328bf","type":"mqtt in","z":"99a50371bc0fcec4","name":"","topic":"tele/ESP32_TEMPERATURE_HUB/SENSOR","qos":"0","datatype":"auto","broker":"bb20db904fadb170","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":280,"wires":[["d710c1c0a65d8c4e","f515d14f67f0fbd5"]]},{"id":"d710c1c0a65d8c4e","type":"json","z":"99a50371bc0fcec4","name":"","property":"payload","action":"","pretty":false,"x":430,"y":280,"wires":[["3eb2de159cc339f8","9de13dac99e7b365"]]},{"id":"cd8781dc9f93f7dc","type":"function","z":"99a50371bc0fcec4","name":"Format Sensor Data","func":"if (msg.payload.mac !==undefined) {\n    msg.payload = {\n        room_id: msg.parts.key,\n        temperature: msg.payload.Temperature,\n        humidity: msg.payload.Humidity,\n        //DewPoint: msg.payload.DewPoint,\n        //Battery: msg.payload.Battery,\n        //RSSI: msg.payload.RSSI,\n    }\n    return msg;\n}\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":280,"wires":[["0b27c7ec8959901b"]]},{"id":"3eb2de159cc339f8","type":"split","z":"99a50371bc0fcec4","name":"Split Temperature Hub data","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":640,"y":280,"wires":[["cd8781dc9f93f7dc"]]},{"id":"f515d14f67f0fbd5","type":"debug","z":"99a50371bc0fcec4","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":380,"wires":[]},{"id":"0b27c7ec8959901b","type":"influxdb out","z":"99a50371bc0fcec4","influxdb":"22d77de3ff20d90a","name":"temperatures","measurement":"Temperature_sensors","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1130,"y":120,"wires":[]},{"id":"bb20db904fadb170","type":"mqtt-broker","name":"mqtt mosquitto server","broker":"http://homeassistant.local","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"22d77de3ff20d90a","type":"influxdb","hostname":"localhost","port":"8086","protocol":"http","database":"Temperatures","name":"temperatures","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]