Chapter 07/garage motion at night - node-RED example.json
[{"id":"cb407516.1e4648","type":"tab","label":"Garage Motion at Night","disabled":false,"info":""},{"id":"49a1aba2.344424","type":"mqtt in","z":"cb407516.1e4648","name":"","topic":"sensor/Garage_Temp_PIR/PIR1","qos":"0","datatype":"auto","broker":"bb20db904fadb170","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":280,"wires":[["4cda4f80c8eecb2f"]]},{"id":"859f1c44.44f5f","type":"debug","z":"cb407516.1e4648","name":"msg2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":500,"wires":[]},{"id":"264bceac.2292c2","type":"trigger","z":"cb407516.1e4648","name":"","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1.5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":601,"y":551,"wires":[["21da5cae.377014","859f1c44.44f5f"]]},{"id":"21da5cae.377014","type":"mqtt out","z":"cb407516.1e4648","name":"","topic":"cmnd/GarageLights/POWER","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bb20db904fadb170","x":848,"y":551,"wires":[]},{"id":"19685fbe3daa0228","type":"sunrise","z":"cb407516.1e4648","name":"your_location","lat":"32.2540","lon":"-110.9742","start":"sunrise","end":"sunsetStart","soff":0,"eoff":0,"x":402,"y":436,"wires":[["4cda4f80c8eecb2f"],[]]},{"id":"4cda4f80c8eecb2f","type":"join","z":"cb407516.1e4648","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":598,"y":360,"wires":[["711a43de339143bc"]]},{"id":"5ad3df5a39571a8e","type":"switch","z":"cb407516.1e4648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":415,"y":551,"wires":[["264bceac.2292c2"]]},{"id":"711a43de339143bc","type":"function","z":"cb407516.1e4648","name":"Check Sunset and Movement","func":"var newmsg = {};\nif (msg.payload[\"sensor/Garage_Temp_PIR/PIR1\"] == \"ON\" && msg.payload.sun == 0) {\n    newmsg.payload = 1;\n} else {\n    newmsg.payload = 0;\n}\nreturn newmsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":838,"y":360,"wires":[["5ad3df5a39571a8e","c497a02d018f9131"]]},{"id":"c497a02d018f9131","type":"debug","z":"cb407516.1e4648","name":"msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":320,"wires":[]},{"id":"bb20db904fadb170","type":"mqtt-broker","name":"mqtt mosquito server","broker":"http://homeassistant.local","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]